.container{
    background-color: yellow;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 20px;
    border-top: 4px double red;
}
.box{
    background-color: green;
    padding: 20px;
    margin-top: 20px;
    border-radius: 15px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
}
.wrapper{
    background-color: aquamarine;
    height: 200px;
    width: 200px;
    box-shadow: 4px 3px 10px 16px black;
    margin: 20px;
}
